*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
   
}
.calculator{
    align-items: center;
    padding-left:20px;
    width:200px;
    background: #eee; 
}
.calculator form input{
    width:35px;
    padding: 10px;
    border:none;
}
.calculator form .display{
   padding: 20px;

}
.calculator form #display{
   width:100%

}