*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
   
}
.calculator{
    padding-left:20px;
    width:300px;
    background: #eee; 
}
.calculator form input{
    width:20%;
    padding: 10px;

}