*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
   
}
.calculator{
    margin:20px;
    width:200px;
    background: #eee; 
}
.calculator form input{
    width:;
    padding-left: 20px;

}